.game-content__details-wraper{
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}

.game-gauge{
  position: absolute;
  top: 0px;
  right: 0px;

  ::ng-deep mwl-gauge{
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 8;
    }
    .value{
      stroke-dasharray: none;
      stroke-width: 8;
    }

    .value-text{
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__label{
    font-size: 20px;
    color: #fff;
    position: relative;
    bottom: 60px;
  }

}

.game-details{
  &__banner{
    height: 442px;
    overflow: hidden;

    &-img{
      width: 100%;
      filter:blur(5px);
    }
  }
}
.game-content{
  text-align: center;
  position: relative;
  top: -200px;

  &__header{
    &-title{
      font-size: 70px;
      color: #fff;
      font-weight: 700;
      line-height: 70px;
    }

    &-release-date{
      color: #fff;
      font-weight: 700;
    }

    &-genres{
      color: #fff;
      font-weight: 700;
    }
  }
}
