<div class="game-details">
  <div class="game-details__banner">
    <img
    class="game-details__banner-img"
    src="{{ game.background_image }}"
    alt="{{ game.background_image }}"
    >
  </div>
  <div class="game-content">
    <div class="game-content__details-wrapper">
      <div class="game-content__header">
        <h1 class="game-content__header-title">{{ game.name }}</h1>
        <h2 class="game-content__header-release-date">Release: {{ game.released | date }}</h2>
        <p class="game-content__header-genres">
          <span
            *ngFor=
            "let genre of game.genres;
            let last = last"
          >
          {{ genre.name }}
            <span *ngIf="!last">
              ,
            </span>
          </span>
        </p>
        <div class="game-gauge">
          <mwl-gauge
            class="two"
            [max]="100"
            [dialStartAngle]="180"
            [dialEndAngle]="0"
            [value]="gameRating"
            [animated]="true"
            [color]="getColor"
            [animationDuration]="2"
          >
          </mwl-gauge>
          <a
          class="game-gauge__label"
          target="_blank"
          href="{{ game.metacritic_url }}"
          >
          metacritic
        </a>
        </div>
      </div>
<!-- añadimos el input [game] para compartir la info entre ellos -->
      <app-game-tabs [game]="game"></app-game-tabs>

    </div>
  </div>
</div>
