.search{
  &-container{
    width: 100%;
    height: 60px;
    background-color: rgba(113, 54, 136, 0.748);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
  }

  &-form{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  &-input{

    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
  }

  &-button{
    border: none;
    outline: none;
    background: rgba(157, 49, 16, 0.864);
    padding: 10px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgba(255, 255, 255, 0.905);
    font-weight: 600;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover{
      color: steelblue ;
      background-color:whitesmoke;
      border: 1px solid steelblue;
    }
  }

  &-logo{
    font-weight: 500;
    color: whitesmoke;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
  }

}

