<div class='search-container'>
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <span class="search-logo" routerLink="/">ALL GAMES</span>
    <input
      class= "search-input"
      type="text"
      name="search"
      ngModel
      placeholder="Search 500,000+ games"/>

    <button class="search-button">Search!</button>
  </form>


</div>
