.game{
  &-tabs{
    background-color: #8c7fc5a4;
    color:white;
    text-align: left;
    padding: 10px;

      &__paragraph{
        padding: 20px 20px 0 20px;
        margin-bottom: 0;

        &-link{
          color: white;
        }
      }

      &__description{
        margin-left: 20px;
        padding: 10px 10px 10px 0;
      }

      &__votes{
        margin-left: 20px;
        display: flex;

        &-up{
          color: rgb(54, 230, 54);
        }
        &-down{
          color: rgba(255, 0, 0, 0.83);
        }

        &-count{
          margin-left: 5px;
          margin-right: 10px;
          vertical-align: super;
        }
      }

      ::ng-deep .mat.tab-labels{
        justify-content: center;
      }

    &__screenshots{
      margin-top: 5px;
      width: calc(50% - 10px);

      &:nth-child(even){
        margin-left: 10px;
      }
    }

    &__trailer{
      width: 100%;
      margin: 20px 0;
    }

  }

}
