<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p *ngIf="game.parent_platforms?.length" class="game-tabs__paragraph">
        Platforms:

        <span *ngFor="let game of game.parent_platforms; let last = last">

          {{ game.platform.name }}

          <span *ngIf="!last">,</span>
        </span >
      </p>
      <p *ngIf="game.publishers?.length" class="game-tabs__paragraph">
        Publishers:

        <span *ngFor="let publisher of game.publishers; let last = last">

          {{ publisher.name }}

          <span *ngIf="!last">,</span>
        </span>
      </p>
      <p *ngIf="game.website" class="game-tabs__paragraph">
        Website:

        <a class="game-tabs__paragraph-link" href="{{ game.website }}" target="blank">
          {{ game.website }}
        </a>
      </p>
      <div class="game-tabs__description" [innerHTML]="game.description">Wigle Wigle</div>
      <p class="game-tabs__votes">

        <ng-container *ngFor="let rating of game.ratings">
        <span *ngIf="rating.title ==='exceptional'">
          <mat-icon class="game-tabs__votes-up">thumb_up</mat-icon>
          <span class="game-tabs__votes-count">{{ rating.count || 0 }}</span>
        </span>

        <span *ngIf="rating.title ==='skip'">
          <mat-icon class="game-tabs__votes-down">thumb_down</mat-icon>
          <span class="game-tabs__votes-count">{{ rating.count || 0 }}</span>
        </span>
      </ng-container>
      </p>
    </mat-tab>

    <mat-tab label="Screenshots" *ngIf="game.screenshots?.length">
      <img
      class="game-tabs__screenshots"
      *ngFor="let screenshot of game.screenshots"
      src="{{ screenshot.image }}"
      alt="screeshot">
    </mat-tab>

    <mat-tab label="Trailers" *ngIf="game.trailers?.length">
      <video
        class="game-tabs__trailer"
        *ngFor="let trailer of game.trailers"
        controls
        >
        <source src="{{ trailer.data?.max }}" type="video/mp4" />
        Your brownser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
